 @import url('https://fonts.googleapis.com/css?family=VT323');

.scan-bg{
	background:#3f3f3f url("../img/scanlines.png") repeat left top ;
}

.VT323{
    font-family: 'VT323', monospace;
    color : rgb(45,255,179);
    transition: text-shadow 0.5s ease-in-out;
    text-shadow: rgb(0,183,119) 1px 0 10px;
    font-size: 70px;
}

.VT323:hover{
	text-shadow: rgb(0,183,119) 1px 0 20px;
}

.cust-link {
	text-decoration: none;
	color :  rgb(127,210,255);
	transition: text-shadow  0.5s ease-in-out, color 0.5s ease-in-out;
    text-shadow: rgb(170,225,255) 1px 0 10px;
}

.cust-link:hover{
	text-decoration: none;
	color: rgb(150,210,255);
	text-shadow: rgb(170,225,255) 1px 0 20px;
}

.cust-box{
	box-shadow: rgb(170,225,255) 1px 0 10px;
	transition: box-shadow  0.5s ease-in-out;
}

.cust-box:hover{
	box-shadow: rgb(170,225,255) 1px 0 20px;
}


.block{
	height: 30px;
	width:  20px;
	color : #eeeeee;
}

#hidden-lama{
position: absolute;
z-index: 2;
}

#content-lama {
	cursor: move;
	z-index: 10;
	position: absolute; 
}